input {
    padding: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 58px;
    border-radius: 15px;
}

.button_remove {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 10px 20px;
}

form {
    text-align: center;

}